.container {
  position: relative;
  min-width: 800px;
  height: 400px;
}

.board {
  position: relative;
  min-width: 600px;
}

.elements {
  border:1px solid #d3d3d3;
  position: absolute;
  top: 41px;
  left: 601px;
  overflow: scroll;
  text-align: left;
  height: 361px;
  width: 302px;
}

.draw_canvas {
  border:1px solid #d3d3d3;
  position: absolute;
  top: 0px;
  left: 0px;
}
.events_canvas {
  border:1px solid #d3d3d3;
  position: absolute;
  top: 0px;
  left: 0px;
}
.options_canvas {
  border:1px solid #d3d3d3;
  position: absolute;
  top: 0px;
  left: 601px;
  /*opacity: 0.5;*/
}
