/* (C) Szilárd Ledán, szledan@gmail.com */

:root{
  --container-bg-color: #e0e0e0;
  --button-bg-color: #efefef;
  --button-color: #333;
  --button-border-color: #333;
  --button-hover-border-color: blue;
  --button-focus-bg-color: #afafff;
}

.latex-dark {
  --container-bg-color: #333;
  --button-bg-color: #555;
  --button-color: #ccc;
  --button-border-color: #ccc;
  --button-hover-border-color: darkblue;
  --button-focus-bg-color: #5f5faf;
}

.container {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 10px 0px 10px 0px;
  background-color: var(--container-bg-color);
  font-size: 80%;
}

.board {
  border: 0px solid #d3d3d3;
  position: relative;
  height: 100%;
  width: 100%;
  float: left;
}

.controller {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  min-width: 200px;
}

.menu {
  border: 0px solid #d3d3d3;
  position: absolute;
  overflow: auto;
  top: 0px;
  right: 50px;
  height: 50px;
  padding: 5px 5px 5px 5px;
  margin: 0px;
  float: right;
  display: flex;
}

.panel {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  position: absolute;
  overflow: auto;
  text-align: left;
  top: 49px;
  right: 0px;
  height: calc(100% - 49px);
  min-width: 200px;
  background-color: #00000022;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.tools_panel {
  padding: 5px 5px 5px 5px;
  display: flex;
  overflow: auto;
}

svg {
  vertical-align: middle;
  text-align: center;
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-color);
  border-radius: 5px;
  border: 1px solid var(--button-border-color);
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  vertical-align: middle;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
button:hover {
  border: 1px solid var(--button-hover-border-color);
}
button:focus {
  border: 1px solid var(--button-hover-border-color);
  background-color: var(--button-focus-bg-color);
}

.menu_button {
  font: inherit;
  text-align: center;
  margin: 0px 0px 0px 5px;
}

.tools_button {
  font: inherit;
  text-align: center;
  margin: 0px 5px 0px 0px;
}

.checkbox-button {
  background-color: var(--button-bg-color);
  color: var(--button-color);
  border-radius: 5px;
  border: 1px solid var(--button-border-color);
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  overflow:auto;
  float: left;
  cursor: pointer;
}
.checkbox-button label svg {
  width:100%;
  height:100%;
}
.checkbox-button input {
  position:absolute;
  top:-20px;
  display:none;
}
.checkbox-button:hover {
  border: 1px solid var(--button-hover-border-color);
}
.checkbox-button input:checked {
  border: 1px solid var(--button-hover-border-color);
}
.checkbox-button input:checked + svg {
  background-color: var(--button-focus-bg-color);
}

#main_menu_button {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px 5px 5px 5px;
}
#main_menu_button {
  opacity: 25%;
}
#main_menu_button:hover{
  opacity: 100%;
}

.draw_canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
.events_canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
