/*body {
  text-align: center;
  font-family:"Calibri";
}*/

/*.main_text {
  position: relative;
  width: 700px;
  text-align: left;
  padding-left: 30%;
  line-height: 150%;
}*/

.container {
  position: relative;
  min-width: 800px;
  height: 400px;
  /*left: 20%;*/
  padding-top: 20px;
  padding-bottom: 20px;
}

.board {
  position: relative;
  min-width: 600px;
}

.elements {
  border:1px solid #d3d3d3;
  position: absolute;
  top: 60px;
  left: 601px;
  overflow: scroll;
  text-align: left;
  height: 360px;
  width: 300px;
}

.draw_canvas {
  border:1px solid #d3d3d3;
  position: absolute;
  top: 0px;
  left: 0px;
}
.events_canvas {
  border:1px solid #d3d3d3;
  position: absolute;
  top: 0px;
  left: 0px;
}
.options_canvas {
  border:1px solid #d3d3d3;
  position: absolute;
  top: 0px;
  left: 601px;
  /*opacity: 0.5;*/
}
